.user-info {
    display: flex; 
    justify-content: flex-end;
    flex: 0 0 auto;
    min-width: 130px;
    height: 32px;
    align-items: center;
    gap: 8px;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.user-details > * {
    width: 100%;
    text-align: right;
}

.user-name {
    opacity: 0.7;
    font-size: 14px
}

.logout-link {
    font-size: 10px;
    opacity: 0.4;
    background: transparent;
    border: none;
    padding-top: 3px;
    margin: 0;
    color: inherit;
    text-align: right;
    cursor: pointer;
}

.logout-link:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.user-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}



@media (max-width: 768px) {
    .user-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: auto;
        width: 100%;
        height: auto;
        gap: 20px;
    }

    .user-details {
        align-items: center;
        font-size: 18px;
    }

    .user-details > * {
        text-align: center;
    }

    .user-name {
        display: none;
    }

    .user-picture {
        width: 32px;
        height: 32px;
    }

    .logout-link {
        font-size: 18px;
        color: var(--scan-light-blue);
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }

    .logout-link:hover {
        opacity: 1;
    } 
}