.article-card {
    width: 100%;
    max-width: 100%;
    height: 694px;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px #00000033;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .article-info {
    display: flex;
    justify-content: left;
  }
  
  .article-date, .article-source {
    font-size: 16px;
    color: #949494;
  }

  .article-source {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 30px;
  }
  
  .article-title {
    font-size: 20px;
    font-family: 'InterMedium', sans-serif;
    min-height: 80px;
    max-width: 100%;
  }
  
  .tag {
    width: 157px;
    height: 22px;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'InterRegilar', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--scan-yellow);
  }

  .article-picture {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .article-content {
    font-family: 'InterRegular', sans-serif;
    font-size: 14px;
    min-height: 120px;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    opacity: 0.5;
  }
  
  .article-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--scan-light-blue);
    color: black;
    width: 223px;
    height: 46.54px;
    font-size: 16px;
    text-decoration: none;
}

  .article-footer .read-more:hover {
    cursor: pointer;
    background-color: var(--scan-yellow);
    color: var(--scan-black);
  }
  
  .word-count {
    font-size: 16px;
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    .article-card {
      width: 100%;
      max-width: 100%;
      height: 694px;
      padding: 14px;
    }
    
    .article-date, .article-source {
      font-size: 14px;
    }
  
    .article-source {
      margin-left: 10px;
    }
    
    .article-title {
      font-size: 16px;
      font-family: 'InterMedium', sans-serif;
      min-height: 80px;
      max-width: 100%;
    }
  
    .article-picture {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 10px;
    }
    
    .article-content {
      font-size: 12px;
      min-height: 220px;
      max-height: 220px;
      width: 100%;
      line-clamp: 10;
      -webkit-line-clamp: 10;
    }

    
    .read-more {
      width: 195px;
      height: 40.7px;
      font-size: 14px;
  }
    
    .word-count {
      font-size: 14px;
      margin-top: 0;
    }
  }
  