.article-card {
    width: 100%;
    max-width: 630px;
    height: 694px;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px #00000033;
    border-radius: 10px;
    box-sizing: border-box;
}

.article-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

.article-date, .article-source {
    font-size: 16px;
    color: #949494;
}

.article-source {
    text-decoration: underline;
    cursor: pointer;
}

.article-title {
    font-family: 'InterMedium', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 2%;
    color: #000000;
    margin-bottom: 10px;
    min-height: 120px;
}


.tag {
    width: 157px;
    height: 22px;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'InterRegular', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    background-color: var(--scan-yellow);
}

.article-picture {
    width: 100%;
    min-height: 158px;
    max-width: 581px;
    max-height: 158px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.article-content {
    font-family: 'InterRegular', sans-serif;
    font-size: 16px;
    min-height: 175px;
    max-height: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 10;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    opacity: 0.5;
    margin-bottom: 20px;
}

.article-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--scan-light-blue);
    color: black;
    width: 223px;
    height: 46.54px;
    font-size: 16px;
    text-decoration: none;
}

.article-footer .read-more:hover {
    cursor: pointer;
    background-color: var(--scan-yellow);
    color: var(--scan-black);
}

.word-count {
    font-size: 16px;
    opacity: 0.5;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .article-card {
        width: 100%;
        max-width: 345px;
        height: auto;
        min-height: 694px;
        padding: 14px;
        box-sizing: border-box;
    }

    .article-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .article-date, .article-source {
        font-size: 14px;
    }

    .article-source {
        text-decoration: underline;
        cursor: pointer;
    }

    .article-title {
        font-family: 'InterMedium', sans-serif;
        font-size: 19px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 2%;
        color: #000000;
        margin-bottom: 20px;
        min-height: 120px;
    }

    .tag {
        width: 157px;
        height: 22px;
        border-radius: 5px;
        font-size: 12px;
        font-family: 'InterRegular', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        background-color: var(--scan-yellow);
    }

    .article-picture {
        width: 100%;
        min-height: 158px;
        max-width: 315px;
        max-height: 158px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .article-content {
        font-family: 'InterRegular', sans-serif;
        font-size: 12px;
        min-height: 220px;
        max-height: 220px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 10;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow-wrap: break-word;
        opacity: 0.5;
        margin-bottom: 20px;
    }

    .article-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .read-more {
        width: 195px;
        height: 40.7px;
        font-size: 14px;
    }

    .word-count {
        font-size: 14px;
        margin-top: 0;
        flex-basis: 100%;
        text-align: right;
    }
}