.user-blocks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: auto;
    gap: 20px;
}

@media (min-width: 769px) {
    .user-blocks {
        gap: 128px;
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
    .user-blocks {
        gap: 30px;
    }
}

@media (max-width: 900px) and (min-width: 769px) {
    .user-blocks {
        gap: 15px;
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loading-icon {
    width: 24px;
    height: 24px;
    opacity: 0.5;
    animation: spin 2s linear infinite;
}

.reg-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 251px;
    gap: 20px;
}

.login {
    opacity: 0.5;
}

.login:hover {
    opacity: 1;
}

.login-button {
    width: 65px;
    flex: 0 0 65px;
    height: 26px;
    border-radius: 5px;
    background-color: var(--scan-light-blue);
    border: none;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    cursor: pointer;
    background-color: var(--scan-blue);
    color: var(--scan-white);
}

.vertical-divider {
    box-sizing: content-box;
    flex: 0 0 2px;
    height: 26px;
    background-color: var(--scan-green);
    border: none;
    opacity: 0.6;
    z-index: 1;
}

@media (max-width: 768px) {

    .user-blocks {
        min-width: auto;
    }

    .dropdown-menu-page .user-blocks {
        width: 100%;
        justify-content: center;
    }
    
    .vertical-divider {
        display: none;
    }

    .reg-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .login-button {
        width: 300px;
        font-size: 20px;
    }

    .login {
        color: var(--scan-light-blue);
    }

    .reg-block {
        display: flex;
        justify-content: start;
        align-items: center;
        flex: 0 0 251px;
    }

}

