.tariff-card {
    width: 100%;
    max-width: 415px;
    min-height: 620px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000033;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    overflow: visible;
}

.tariff-colored-block {
    width: 100%;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tariff-beginner-yellow-active {
    border: 2px solid var(--scan-yellow);
}

.tariff-pro-light-blue-active {
    border: 2px solid var(--scan-light-blue);
}

.tariff-business-black-active {
    border: 2px solid var(--scan-black);
}

.tariff-beginner-yellow {
    background-color: var(--scan-yellow);
}

.tariff-pro-light-blue {
    background-color: var(--scan-light-blue);
}

.tariff-business-black {
    background-color: var(--scan-black);
}

.tariff-name-block {
    margin: 10px;
    margin-top: 30px;
}

.tariff-name-block h3 {
    margin: 0;
    color: var(--scan-black);
    font-family: 'InterMedium', sans-serif; 
    font-size: 24px; 
}

.tariff-name-block p {
    color: var(--scan-black);
    font-size: 14px;
    word-wrap: break-word;
    max-width: 90%;
}

.tarif-icon-block{
    max-width: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tariff-icon {
    width: auto;
    height: auto;
}

.tariff-card-text-block {
    align-self: flex-start;
    width: 100%;
    height: 80px;
    padding-left: 30px;
}


.your-tariff-block {
    min-height: 60px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 12px;
    margin-bottom: 5px;
}

.your-tariff-badge {
    width: 134px;
    height: 24px;
    background-color: #3BA5E0;
    border-radius: 10px;
    color: var(--scan-black);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tariff-price-block {
    margin-bottom: 30px;
}

.tariff-prices {
    display: flex;
    align-items: baseline;
    gap: 20px;
}


.tariff-prices h3 {
    color: var(--scan-black);
    font-family: 'InterMedium', sans-serif;
    font-size: 24px;
}

.last-price-tag {
    text-decoration: line-through;
    font-family: 'InterMedium', sans-serif;
    font-size: 20px;
    color: #D2D2D2;
}

.tariff-prices h3, .last-price-tag {
    margin: 0;
}


.card-text {
    color: var(--scan-black);
    font-size: 16px;
}

.card-text-20px {
    font-size: 18px;
    font-family: 'InterMedium', sans-serif;
    margin-left: -10px;
}

.installment-text {
    margin-top: -30px;
    font-size: 16px;
}


.tariff-to-include-lines {
    display: flex;
    font-family: 'InterRegular', sans-serif;
    font-size: 16px;
    align-items: center;
    margin-bottom: -30px;
    margin-top: -20px;
    margin-left: -12px;
    gap: 10px;
}

.green-checkbox {
    margin-right: 10px;
    width: 24px;
    height: auto;
}

.tariff-button-div {
    margin-top: 70px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.button-tariffs {
    width: 335px;
    height: 59px;
    border-radius: 5px;
    font-family: 'InterRegular', sans-serif;
    font-size: 22px;
    color: var(--scan-white);
    background-color: var(--scan-blue);
    border: none;
    transition: background-color 0.3s ease;
}

.button-tariffs.grey {
    background-color: #D2D2D2;
    color: var(--scan-black);
}

.buttontariffs:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--scan-light-blue);
    color: var(--scan-black);
}

@media (max-width: 1200px) and (min-width: 769px) {
    .tariff-card {
        width: 100%;
        max-width: 380px;
        min-height: 620px;
        border: 1px solid #e0e0e0;
        scroll-snap-align: start;
        flex-shrink: 0;
        margin: 0;
        overflow: visible;
    }
}

.tariff-colored-block {
    width: 100%;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .tariff-card {
        width: 100%;
        max-width: 340px;
        min-width: 0;
        min-height: 620px;
        border: 1px solid #e0e0e0;
        scroll-snap-align: start;
        flex-shrink: 0;
        margin: 0;
        overflow: visible;
        padding-bottom: 10px;
        box-sizing: border-box;
    }

    .tariff-colored-block {
        min-height: 135px;
        padding: 15px;
    }

    .tariff-name-block {
        margin-top: 60px;
    }


    .tariff-name-block h3 {
        font-size: 18px; 
        margin-bottom: -5px;
    }

    .tariff-name-block p {
        font-size: 12px;
    }

    .tarif-icon-block{
        max-width: 80px;
        max-height: 80px;
        margin-bottom: 35px;
        margin-left: -20px;
        padding-right: 40px;
    }

    .tariff-card-text-block {
        margin-bottom: 20px;
    }

    .tariff-card-text-block {
        padding-left: 20px;
        min-height: 70px;
    }

    .card-text {
        font-size: 14px;
    }
    
    .card-text-20px {
        font-size: 16px;
        margin-left: 20px;
    }
    
    .installment-text {
        width: 90%;
        font-size: 14px;
    }

    .tariff-prices h3 {
        font-size: 18px;
    }

    .last-price-tag {
        font-size: 16px;
    }

    .tariff-to-include-lines {
        font-size: 14px;
        margin-bottom: -20px;
        margin-top: -15px;
        margin-left: 20px;
        gap: 8px;
    }

    .tariff-button-div {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    .button-tariffs {
        width: 100%;
        max-width: 286.57px;
        height: 59px;
        font-size: 16px;
    }
   
}


