main {
    width: 100%;
    background-color: var(--scan-white);
}

.main-content {
    padding-top: 100px;
    max-width: 1440px;
    flex-grow: 1;
}

@media (max-width: 1200px) {
    .main-content {
        padding-top: 100px;
    }
}

@media (max-width: 768px) {
    .main-content {
        padding-top: 100px;
    }
}