.right-part-search-checkbox-block {
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .checkbox-container {
    position: relative;
  }
  
  .right-part-search-checkbox-block label {
    display: flex;
    align-items: flex-start;
    min-width: 0;
    cursor: pointer;
    position: relative;
    color: #949494;
    line-height: 1.25;
    text-decoration: none;
  }

  .right-part-search-checkbox-block .label-text {
    max-width: 100%;
    min-width: 0;
    overflow-wrap: normal;
    text-decoration: none;
    display: block;
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
  }
  
  .right-part-search-checkbox-block input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
  }
  
  .custom-checkbox {
    height: 20px;
    width: 20px;
    flex: 0 0 20px;
    border: 2px solid #949494;
    cursor: pointer;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-top: 2px;
  }

  .checkbox-container input[type="checkbox"]:checked + label .custom-checkbox {
    background-image: url('./../../../assets/checkbox_icon.svg');
    border: 2px solid var(--scan-black);
  }
  
  .checkbox-container input[type="checkbox"]:checked + label .label-text {
    color: var(--scan-black);
  }

  @media (max-width: 768px) {
    .right-part-search-checkbox-block {
      display: none;
    }
  }

  @media (min-width: 769px) and (max-width: 1200px) {
    .right-part-search-checkbox-block {
      width: 100%;
      max-width: 450px;
      font-size: 16px;
    }
    
    .right-part-search-checkbox-block .label-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }