.form-field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  
  .select-wrapper {
    position: relative;
    display: inline-block;
    width: 242px;
    max-width: 100%;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .select-wrapper:after {
    content: '';
    position: absolute;
    pointer-events: none;
    width: 20px;
    height: 20px;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('./../../../assets/fallout-arrow.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    .select-wrapper {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }