header {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: var(--scan-white);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 93px;
    max-width: 1440px;
    margin: 0 auto; 
    padding: 0 60px;
    font-size: 14px;
    position: relative;
    z-index: 2101;
}

.header .scan-logo {
    width: 141px;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header .scan-logo:hover {
    opacity: 0.8;
}

.navbar {
    flex: 0 0 auto;
    max-width: none;
    margin-left: 0;
}

.menu-icon {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 25px;
}

.dropdown-menu-page {
    position: fixed;
    top: 93px;
    left: 0;
    transform: none;
    width: 100vw;
    max-width: none;
    height: calc(100vh - 93px);
    background-color: var(--scan-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 60px;
    padding-bottom: 40px;
    gap: 60px;
    z-index: 2000;
    overflow-y: auto;
}


@media (max-width: 768px) {

    header.menu-visible {
        background-color: var(--scan-green);
    }

    .header-content {
        max-width: 375px;
        padding: 0 14px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
    }

    .header-center {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .menu-icon {
        display: block;
        margin-left: auto;
        z-index: 2100;
    }

    .scan-logo {
        z-index: 2100;
        cursor: pointer;
    }

    .right-section {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        width: 219px;
        gap: 20px;
    }

    .dropdown-menu-page .reg-block,
    .dropdown-menu-page .user-blocks {
        margin-top: 40px;
        margin-bottom: 0;
        align-items: center;
    }

    .dropdown-menu-page .navbar {
        margin-left: 0 !important;
        max-width: none;
        flex: none;
    }
}

@media (min-width: 769px) {
    .header-content {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
    }

    .scan-logo {
        justify-self: start;
        cursor: pointer;
    }

    .navbar {
        grid-column: 2;
        justify-self: center;
    }

    .right-section {
        grid-column: 3;
        justify-self: end;
    }

    .menu-icon {
        display: none !important;
    }
    
    .navbar {
        display: flex !important;
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
    .header-content {
        padding: 0 20px;
        grid-template-columns: auto 1fr auto;
    }
}




