.article-cards-block {
    width: 100%;
    max-width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
    margin-top: 40px;
}

.h2-search-results-page-articles {
    font-family: Ferry;
    font-size: 36px;
    margin-bottom: 60px;
    text-align: left;
}

.article-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 38px;
}

.article-card {
    width: calc(50% - 30px);
    max-width: calc(50% - 30px);
}

.button-div {
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-bottom: 0;
}

.show-more {
    width: 305px;
}

@media (max-width: 1200px) {
    .article-cards-block {
        padding: 0 40px;
        margin-top: 30px;
    }

    .h2-search-results-page-articles {
        font-size: 32px;
        margin-bottom: 50px;
        text-align: left;
    }

    .article-cards {
        flex-wrap: wrap;
        gap: 40px;
    }

    .article-card {
        width: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .article-cards-block {
        padding: 0 14px;
        max-width: 100%;
        margin: 30px auto 0;
    }
    
    .h2-search-results-page-articles {
        font-size: 24px;
        margin-left: 0;
        width: 100%;
        text-align: left;
        padding: 0;
        margin-bottom: 40px;
    }
    
    .article-cards {
        flex-direction: column;
        gap: 20px;
    }

    .article-card {
        width: 100%;
        max-width: 100%;
    }
    
    .button-div {
        display: flex;
        justify-content: center;
        margin: 40px 0 0;
        margin-bottom: 0;
    }
    
    .show-more {
        width: 335px;
    }
}