.navbar {
    display: flex;
    flex: 0 0 236px;
    justify-content: space-between;
    align-items: center;
}

.navbar a, .navbar a:hover, .navbar a:visited, .navbar a:active,
.navbar .navbar-link, .navbar .navbar-link:hover, .navbar .navbar-link:visited, .navbar .navbar-link:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.navbar a:hover, .navbar .navbar-link:hover {
    opacity: 0.5;
}  

@media (max-width: 1360px) {
    .navbar {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        max-height: 120px;
    }

    .navbar a, .navbar .navbar-link {
        color: var(--scan-white);
    }
}